---
const strokeWidth = 5;
const fillColor = '#FFFFFF';
const strokeColor = '#728165';
const carrotColor = '#FFD7B1';
const carrotLeavesColor = '#D5FFBD';

---
<div class="footer-rabbit-wrapper" aria-hidden="true">
  <svg class="jumping-rabbit" width="327" height="320" viewBox="0 0 327 320" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g class="rabbit-ear-right">
      <path d="M164.343 50.8334C172.169 69.1602 174.465 100.45 174.635 113.804L160.13 119.604L143 116.595C136.962 109.542 123.066 89.3364 115.792 64.9421C106.699 34.4491 117.115 2.56618 120.835 5.14603C124.556 7.72588 154.56 27.9249 164.343 50.8334Z" fill={fillColor}/>
      <path d="M174.635 113.804C174.465 100.45 172.169 69.1601 164.343 50.8334C154.56 27.9249 124.556 7.72588 120.835 5.14603C117.115 2.56618 106.699 34.4491 115.792 64.9421C123.066 89.3364 136.962 109.542 143 116.595" stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
    </g>

    <g class="rabbit-leg-hind">
      <ellipse cx="34.5" cy="296.819" rx="23.7924" ry="26.6753" transform="rotate(-33.1074 34.5 296.819)" fill={fillColor} stroke={strokeColor} stroke-width={strokeWidth}/>
    </g>

    <g class="rabbit-leg-front-left">
      <path d="M106 339.479C100.4 331.879 108.334 322.979 113 319.479C113 294.812 114.5 244.379 120.5 239.979C128 234.479 138.5 230.479 154.5 232.479C170.5 234.479 190 260.979 189 284.479C188.2 303.279 168 318.646 158 323.979C161.5 322.479 173.4 319.479 193 319.479C212.6 319.479 221.833 336.146 224 344.479H168.5C139.5 344.479 113 348.979 106 339.479Z" fill={fillColor}/>
      <path d="M113 319.479C108.334 322.979 100.4 331.879 106 339.479C113 348.979 139.5 344.479 168.5 344.479C191.7 344.479 215.167 344.479 224 344.479C221.833 336.146 212.6 319.479 193 319.479C173.4 319.479 161.5 322.479 158 323.979C168 318.646 188.2 303.279 189 284.479C190 260.979 170.5 234.479 154.5 232.479C138.5 230.479 128 234.479 120.5 239.979" stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
    </g>

    <g class="rabbit-ear-left">
      <path d="M126.502 42.9792C142.102 55.3792 159.002 81.8125 165.502 93.4792L155.5 105.479L139 110.979C130.334 107.646 108.502 96.4792 90.5016 78.4792C68.0016 55.9792 62.0016 22.9792 66.5016 23.4792C71.0016 23.9792 107.002 27.4792 126.502 42.9792Z" fill={fillColor}/>
      <path d="M165.502 93.4792C159.002 81.8125 142.102 55.3792 126.502 42.9792C107.002 27.4792 71.0016 23.9792 66.5016 23.4792C62.0016 22.9792 68.0016 55.9792 90.5016 78.4792C108.502 96.4792 130.334 107.646 139 110.979" stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M90 44.979C98.3333 48.3123 108.5 50.5068 126 68.979C139.5 83.229 143.333 90.979 148.5 99.479" stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
    </g>

    <g class="rabbit-arm-right">
      <path d="M214.682 197.391C201.556 195.27 192.062 183.151 188.955 177.357C173.674 175.75 152.385 194.922 154.071 198.992C165.029 225.448 199.005 226.794 218.589 225.068C238.172 223.342 253.819 219.959 254.215 209.967C254.611 199.975 231.09 200.043 214.682 197.391Z" fill={fillColor}/>
      <path d="M188.958 177.356C192.064 183.151 201.558 195.27 214.684 197.391C231.092 200.043 254.613 199.975 254.217 209.967C253.821 219.959 238.175 223.342 218.591 225.068C199.007 226.793 165.032 225.448 154.073 198.992" stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
    </g>

    <path d="M202.002 93.4789C187.202 86.2789 171.502 90.4789 165.502 93.4789L139 110.979C136.833 114.145 132.4 121.479 132 125.479C131.5 130.479 131.503 144.979 126.502 152.979C121.5 160.979 74.5001 189.479 62.0001 203.479C49.5001 217.479 31.5001 260.479 45.0001 298.979C58.5001 337.479 85.9999 340.979 109 333.479C132 325.979 167 312.979 189 271.979C206.6 239.179 205.001 192.854 202.002 173.792C232.608 168.161 241.083 153.768 241.502 144.979C242.002 134.479 220.502 102.479 202.002 93.4789Z" fill={fillColor}/>
    <path d="M154.002 156.479C161.002 167.979 165.502 175.979 181.502 175.979C189.243 175.653 196.042 174.889 202.002 173.792C232.608 168.161 241.083 153.768 241.502 144.979C242.002 134.479 220.502 102.479 202.002 93.4789C187.202 86.2789 171.502 90.4789 165.502 93.4789M139 110.979C136.833 114.145 132.4 121.479 132 125.479C131.5 130.479 131.503 144.979 126.502 152.979C121.5 160.979 74.5001 189.479 62.0001 203.479C49.5001 217.479 31.5001 260.479 45.0001 298.979C58.5001 337.479 85.9999 340.979 109 333.479C132 325.979 167 312.979 189 271.979C206.6 239.179 205.001 192.854 202.002 173.792" stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M227 143.979L239.5 152.479" stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
    <circle cx="192.5" cy="125.979" r="3.5" fill={strokeColor} stroke={strokeColor} stroke-width={strokeWidth}/>

    <g class="rabbit-leg-front-right">
      <path d="M76.0003 344.479C70.4003 336.879 78.3336 327.979 83.0003 324.479C83.0003 299.812 84.5002 249.379 90.5 244.979C97.9997 239.479 108.5 235.479 124.5 237.479C140.5 239.479 160 265.979 159 289.479C158.2 308.279 138 323.646 128 328.979C131.5 327.479 143.4 324.479 163 324.479C182.6 324.479 191.833 341.146 194 349.479H138.5C109.5 349.479 83.0003 353.979 76.0003 344.479Z" fill={fillColor}/>
      <path d="M83.0003 324.479C78.3336 327.979 70.4003 336.879 76.0003 344.479C83.0003 353.979 109.5 349.479 138.5 349.479C161.7 349.479 185.167 349.479 194 349.479C191.833 341.146 182.6 324.479 163 324.479C143.4 324.479 131.5 327.479 128 328.979C138 323.646 158.2 308.279 159 289.479C160 265.979 140.5 239.479 124.5 237.479C108.5 235.479 97.9997 239.479 90.5 244.979" stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
    </g>

    <g class="rabbit-carrot">
      <g class="rabbit-carrot-leaves">
        <path d="M304 163.479C297.6 167.879 282.333 169.646 275.5 169.979C280 163.979 290.6 151.179 297 147.979C303.4 144.779 316.333 144.979 322 145.479C318.667 149.646 310.4 159.079 304 163.479Z" fill={carrotLeavesColor} stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M276.854 140.492C279.507 147.792 277.385 163.013 275.993 169.711C271.314 163.85 261.584 150.376 260.093 143.378C258.602 136.38 262.041 123.911 263.947 118.551C267.144 122.823 274.201 133.193 276.854 140.492Z" fill={carrotLeavesColor} stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M302.475 139.827C298.485 148.449 283.513 160.016 276.525 164.721C277.513 155.662 280.675 135.695 285.414 128.31C290.154 120.925 303.898 112.876 310.178 109.774C309.273 116.199 306.464 131.204 302.475 139.827Z" fill={carrotLeavesColor} stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      <path d="M265.5 242.479C259.5 251.279 232 281.479 219 295.479C219 283.646 220.4 253.079 226 225.479C233 190.979 240 175.479 248 170.979C256 166.479 265.5 163.979 277 170.979C288.5 177.979 290.5 181.979 290.5 192.479C290.5 202.979 273 231.479 265.5 242.479Z" fill={carrotColor} stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M227 222.979L239 228.979" stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M245 266.979L235 260.479" stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M238.5 183.479L261 193.979" stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M279.5 219.979L261 210.979" stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
    </g>

    <g class="rabbit-arm-left">
      <path d="M209.499 216.979C196.299 215.379 186.332 203.646 182.999 197.979C167.666 196.979 147.153 216.979 148.999 220.979C160.997 246.98 194.999 246.979 214.499 244.479C233.999 241.979 249.499 237.979 249.499 227.979C249.499 217.979 225.999 218.979 209.499 216.979Z" fill={fillColor}/>
      <path d="M183 197.979C186.333 203.646 196.3 215.379 209.5 216.979C226 218.979 249.5 217.979 249.5 227.979C249.5 237.979 234 241.979 214.5 244.479C195 246.979 160.998 246.98 149 220.979" stroke={strokeColor} stroke-width={strokeWidth} stroke-linecap="round" stroke-linejoin="round"/>
    </g>
  </svg>
</div>